@model WebApplication39.Models.KatalogListViewModel


@{
    ViewBag.Title = "ПО «Каталог продуктов»";
}

<h2>ПО «Каталог продуктов»</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
<br />


@if (User.IsInRole("moderator"))
{
    <form method="get">
        <div class="form-inline form-group">
            <label class="control-label">Наименование продукта: </label>
            <input name="name" class="form-control" />

            <label class="control-label">Категория: </label>
            <select name="сategory" asp-items="Model.Categories" class="form-control"></select>

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <a asp-action="Create">Добавить каталог</a>
    <table class="table table-striped">
        <tr>
            <th>Наименование продукта</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Стоимость в рублях</th>
            <th>Примечание общее</th>
            <th>Примечание специальное</th>
        </tr>

        @foreach (var item in Model.Katalogs)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Opisanie</td>
                <td>@item.Shena</td>
                <td>@item.PrimO</td>
                <td>@item.PrimS</td>
                <td>
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>

}
@if (User.IsInRole("user"))
{
 <form method="get">
        <div class="form-inline form-group">
            <label class="control-label">Наименование продукта: </label>
            <input name="name" class="form-control" />

            <label class="control-label">Категория: </label>
            <select name="сategory" asp-items="Model.Categories" class="form-control"></select>

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <table class="table table-striped">
        <tr>
            <th>Наименование продукта</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Стоимость в рублях</th>
            <th>Примечание общее</th>
        </tr>

        @foreach (var item in Model.Katalogs)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Opisanie</td>
                <td>@item.Shena</td>
                <td>@item.PrimO</td>

            </tr>
        }
    </table>

}
